---
name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - run: make generate
      - run: |
          if [[ "$(git status --porcelain | wc -l)" -ne 0 ]]; then
            echo "Generated files are not up to date. Please run 'make generate' and commit the changes."
            exit 1
          fi
      - run: make
